@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.light-image-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(321deg) brightness(106%) contrast(101%);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.less-height {
  height: 43px !important;
}

.ai-module-item:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(321deg) brightness(106%) contrast(101%);
}

input:focus {
  outline: none !important;
}

@layer utilities {
  .placeholder-input::placeholder {
    font-size: 14px;
  }
}